 * {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
 }

 body {
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 5px solid rgb(239, 201, 151);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(243, 225, 202);
  
}

h1, h2 {

  text-align: center;
  color: black;
  background-color: rgb(239, 201, 151);
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 30px;
  
}

main {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.escolha, .sub-escolha {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

input[type="radio"] {
  transform: scale(1.5);

  
}

form {

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  min-height: 100%;

}

label {
  font-weight: bold;
  
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  width: 80%;
  font-style: italic;
}

button {
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
  background-color: chartreuse;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(244, 241, 241);
  color: black;
  text-align: center;
  padding: 5px;
  gap: 10px;
  border-radius: 4px;
  margin-top: 40px;
  
  
}




h2 {
  opacity: 80%;
  font-size: 20px;
  box-shadow: 5px 2px 5px 2px ;
  
}
.div-escolha {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.img {
  height: 300px;
  border-radius: 180px;
  padding-top: 20px;
}